body {
  background-color: rgb(176, 242, 177); 
}
/*
.intro {
    color:rgb(206, 23, 29);
  display: flex;
  justify-content: center; 
  align-items: center;    
  font-size: 18px;
  font-style: bold;
  font-family:  Arial, Helvetica, sans-serif;
    #firstIntro {
        margin-right: 15vh;
    }
}

.inputs {
  display: flex;
  justify-content: center; /* horizontal 
  align-items: center;     /* vertical 
  
    input {
        margin-right: 5vh;
         width: 35vh;
         background-color: transparent;
         border: none;
         border-bottom: 2px solid;
         border-color: rgb(206, 23, 29);
         color: azure;

    }
    select {
        width: 35vh;
        border:none;
        border-bottom: 2px solid;
        border-color: rgb(206, 23, 29);
        background-color: transparent;
        color: azure
        
    }
    option {
        background-color: grey;
    }

}
*/ 
.outputs {
  background-color: antiquewhite;
  #amount-remaining{
    color: red;
  }
}

.outputs img{
  object-fit: cover;
  max-width: 100%;
  height: auto;
}
.outputs div{
  width: 25ch;
  height: auto;
background-color: white;
object-fit: hidden;
border: 2px solid black;
}
.outputs p{
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputs-Change{
  width: 77ch;
  height: auto;
  display: flex;
  background-color: white;
  border: 2px solid black;
}
.inputs-exchange{
  width: 58ch;
  height: auto;
    display: flex;
  background-color: white;
  border: 2px solid black;
}
/*
.initiate {
  display: flex;
  justify-content: center; /* horizontal 
  align-items: center;     /* vertical 
   margin-top: 10vh;
   button {
    height: 7vh;
    width: 21vh;
    font-family:  Arial, Helvetica, sans-serif;
    background-color: orangered;
    color: black;
   } 
} */